// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

@font-face {
    font-family: 'dare';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    unicode-range: U+000-5FF;
	src: local('dare'),
		// url('../../assets/fonts/Dare.ttf') format('truetype');
         url('https://cdn.jsdelivr.net/gh/rdimascio/uag@0.1/assets/fonts/dare.ttf') format('truetype');
}

@font-face {
    font-family: 'goldsmith-black';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+000-5FF;
	src: local('goldsmith-black'),
		// url('../../assets/fonts/Goldsmith-Black.otf') format('opentype');
         url('https://cdn.jsdelivr.net/gh/rdimascio/uag@0.1/assets/fonts/Goldsmith-Black.otf') format('opentype');
}

body {
	margin: 0;
}

.bundle-wrapper {
	// background-image: url('../../assets/img/bundle-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding: 0 0 60px;
	max-width: 1500px;
	margin: auto;

	&-top {
		// background-image: url('../../assets/img/bundle-top-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 60px;
		width: 100%;
		margin: 0 0 20px;
	}
}

CLIENT_PREFIX {
	&-container {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		max-width: 800px;
		width: 100%;
		font-family: sofia-pro-soft,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
		font-weight: 100;
		margin: auto;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;

		// background-image: url('../../assets/img/bundle-card-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
		// border-radius: 3px;
	}

	&-image {
		position: absolute;
		top: 16%;
		left: 10%;
		right: 10%;
		bottom: 16%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			height: 250px;
			margin-bottom: 20px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			// background-image: url('../../assets/img/bundle-image-bg.png');
		}
	}

	&-bundle {
		&-container {
			display: flex;
			padding: 40px 50px 0;
			justify-content: space-between;
		}

		&-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			height: 80px;

			&-image {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				flex: 1 0 60%;
				height: 80%;
				position: relative;
			}

			&-title {
				flex: 1 0 40%;
				text-transform: uppercase;
				font-family: 'dare';
				padding: 10px 50px 10px 0;
				display: flex;
				flex-direction: column;
				align-items: center;

				h1, h2, h3, h4, h5, h6 {
					margin: 0;
				}

				h2:not(span) {
					font-size: 4rem;
					font-family: 'goldsmith-black';
				}

				h6 {
					font-size: 1rem;
					margin-top: -16px;
				}

				span {
					font-family: 'dare';

					&:not(.symbol) {
						font-size: 1rem;
						margin-left: -16px;
					}
				}
			}
		}

		&-plus {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding: 100px 0;

			img {
				height: 50px;
			}
		}
	}

	&-dropdown {
		&-wrapper {
			width: 40%;
			display: flex;
			flex-direction: column;
		}

		&-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			padding: 20px 0;
		}

		&-title {
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 1px;
			color: rgb(77, 77, 77);
			font-size: 14px;
			margin: 4px 0;
		}

		&-price {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 0.5px;
			color: #8f8f8f;
			font-size: 14px;
			margin: 4px 0;

			.regularPrice {
				margin-right: 6px;
				color: rgb(193, 99, 99);
				text-decoration: line-through;
			}

			svg {
				height: 16px;
			}
		}
	}

	&-select {
		&-container {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 12px 0;
		}

		&-dropdown {
			position: relative;
			font-size: 14px;
			font-weight: 700;
			color: #000;
			line-height: 1.3;
			padding: 1em 1.4em 0.9em 0.8em;
			max-width: 100%;
			box-sizing: border-box;
			border: 1px solid #000000;
			text-transform: uppercase;
			box-shadow: none;
			border-radius: 0;
			width: 100%;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			text-indent: 10px;
			background-color: #fff;
			background-image: url("data:image/svg+xml,%0A%3Csvg width='46px' height='25px' viewBox='0 0 46 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(2.000000, 2.000000)' stroke='%23000000' stroke-width='2'%3E%3Cpath d='M0.148033202,0.128545207 L20.9778633,20.9583753' id='Line'%3E%3C/path%3E%3Cpath d='M41.8076933,0.128545207 L20.9778633,20.9583753' id='Line-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat, repeat;
			background-position: right 0.7em top 50%, 0 0;
			background-size: 0.65em auto, 100%;

			&::-ms-expand {
				display: none;
			}

			&:hover {
				border-color: #888;
			}

			&:focus {
				border-color: #aaa;
				box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
				box-shadow: 0 0 0 3px -moz-mac-focusring;
				color: #222;
				outline: none;
			}

			option {
				font-weight: normal;
			}
		}
	}

	&-price {
		margin: 0 0 0 6px;
		display: flex;
		align-items: center;
		font-family: 'dare';
		font-size: 1.4rem;
		color: rgb(246, 127, 66);

		&-wrapper {
			width: 40%;
		}

		span {
			color: #000000;
			margin-right: 10px;

			&.regular {
				font-size: 1rem;
				text-decoration: line-through;
			}
		}

		svg {
			height: 24px;
			margin-left: 8px;

			path {
				stroke: #f67f42;
			}
		}
	}

	&-cta {
		background: rgb(245, 126, 65);
		color: rgb(255, 255, 255) !important;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		width: 100%;
		line-height: 50px;
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}

		&:active, &:link, &:visited, &:hover {
			color: rgb(255, 255, 255) !important;
		}

		&-wrapper {
			width: 40%;
			display: flex;
    		justify-content: center;
		}

		&-container {
			display: flex;
			justify-content: space-between;
			margin-top: 40px;
			padding: 0 50px 40px;
		}
	}
}
